<!DOCTYPE html>
<html>
  <head>
    <title>CookBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    </head>

  <body>
   <%= render 'layouts/navbar'%>
   <p class = "notice" ><%= notice %> </p>
   <p class = "alert" ><%= alert %></p>
    <%= yield %>
  </body>
</html>
